.div1 {
    height: 800px;
    display: block;
    width: 100%;
    background-color: green;
    overflow-y: scroll;
}

.div2 {
    height: 1800px;
    display: block;
    width: 100%;
    background-color: #b7aaaa;
}