<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="angular-material.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="angular.min.js"></script>
    <script src="angular-animate.min.js"></script>
    <script src="angular-aria.min.js"></script>
    <script src="angular-messages.min.js"></script>
    <script src="angular-material.min.js"></script>
    <script src="main.js"></script>
</head>

<body ng-app="eidaApp">
    <div ng-controller="eidaController as eidaCtrl" id="mainContainer">
        <div class="loader-overlay" ng-hide="true">
            <div class="progress-container">
                <md-progress-circular ng-disabled="!activated" md-diameter="100"></md-progress-circular>
            </div>
        </div>
        <div>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                        <!-- <img class="png-icon" src="cbd-log.png" style="width: 24px; height: 24px;"> -->
                    </md-button>
                    <h2 flex md-truncate>EIDA Reader</h2>
                </div>
            </md-toolbar>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom class="tab-height">
                    <md-tab label="EIDA Public Data">
                        <md-content class="md-padding">
                            <div layout="row" layout-align="left">
                                <div layout="column">
                                    <img class="avathar-img" src="avathar.png" alt="">
                                </div>
                                <div flex="5" layout="column"></div>
                                <div flex="100" layout="column">
                                    <md-content layout-padding>
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block">
                                                <label>EIDA Number </label>
                                                <input ng-model="user.eidaNumber" disabled>
                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <label>First name</label>
                                                <input ng-model="user.firstName" disabled>
                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <label>Middle Name</label>
                                                <input ng-model="user.middleName" disabled>
                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <label>Last Name</label>
                                                <input ng-model="user.lastName" disabled>
                                            </md-input-container>
                                            <md-input-container>
                                                <label>Enter date</label>
                                                <md-datepicker ng-model="user.submissionDate" disabled></md-datepicker>
                                            </md-input-container>
                                        </div>
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-xs>
                                                <label>Address</label>
                                                <input ng-model="user.address1" disabled>
                                            </md-input-container>
                                            <md-input-container md-no-float class="md-block">
                                                <label>Address 2</label>
                                                <input ng-model="user.address2" disabled>
                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <label>City</label>
                                                <input ng-model="user.city" disabled>
                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <label>State</label>
                                                <input ng-model="user.city" disabled>
                                            </md-input-container>

                                            <md-input-container class="md-block">
                                                <label>Postal Code</label>
                                                <input ng-model="user.postalCode" disabled>
                                            </md-input-container>


                                        </div>

                                    </md-content>

                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Validation">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Verification</h1>
                            <md-button class="md-primary md-raised" ng-click="showAlert($event)">
                                Alert Dialog
                            </md-button>
                            <p></p>
                        </md-content>
                    </md-tab>
                    <md-tab label="Bio Matric">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Bio Matric</h1>
                            <p></p>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>

    </div>
</body>

</html>